*.pth
*.zip
*.wav
*.pyc
*.flac
*.DS_Store
*.requirements_ssast.txt
figure/*
!figure/10854_ssast.pdf
!figure/10854_ssast.png
!figure/ablation.jpg
#pretrained_model/*
pretrained_model/README.md
#src/models/check_load_model.py
#src/models/copy_process_pretrain.py
#src/models/ast_model_uni.py
src/finetune/superb/s3prl-master/*
.idea/*



src/prep_data/esc50/data/*
src/finetune/esc50/data/ESC-50-master
#[Hyosun] added
src/finetune/esc50/exp/*
src/pretrain/exp/*
#[/Hyosun] added

#[Hyosun] TAU added
src/prep_data/TAU/data/TAU
src/finetune/TAU/data/TAU
src/finetune/TAU/exp/*
#[/Hyosun] TAU added
#[Hyosun] Emotions added
src/finetune/Emotions/data/Emotions
src/finetune/Emotions/data/Emotions_audio_16k
src/finetune/Emotions/exp/*
#[/Hyosun] Emotions added
#[Hyosun] ASEmotion added
src/finetune/ASEmotions_audio_16k/ASEmotions_audio_16k_intolabels_2s(2s-10s)/*
src/finetune/ASEmotions_audio_16k/exp/*
src/finetune/ASEmotions_audio_16k/Bonus/*
src/finetune/ASEmotions_audio_16k/data/ASEmotions*
#[/Hyosun] ASEmotion added
#[Hyosun] BirdSong added
src/finetune/CornellBirdcall/data/BirdSong
src/finetune/CornellBirdcall/data/BirdSong_audio_16k
src/finetune/CornellBirdcall/data/BirdSong_audio_16k_10s
src/finetune/CornellBirdcall/data/BirdSong_mp3
src/finetune/CornellBirdcall/data/BirdSong_mp3*
src/finetune/CornellBirdcall/exp/*
#[/Hyosun] BirdSong added
#[Hyosun] Isolated_urbansound/Iurban added
src/finetune/Isolated_urbansound/data/iurban*
src/finetune/Isolated_urbansound/data/00.iurban*
src/finetune/Isolated_urbansound/exp/*
#[/Hyosun] Isolated_urbansound/Iurban added
#[Hyosun] Isolated_urbansound/IurbanEvent added
src/finetune/Isolated_urbansound/data/event*
src/finetune/Isolated_urbansound/exp/*
#[/Hyosun] Isolated_urbansound/IurbanEvent added

#[Hyosun] no need the whole folder
src/comp_fusion/*
#[/Hyosun] no need the whole folder

#[Hyosun] exclude no need scripts
src/models/[2023-10-11좀다르게fusion_implementation]ast_models.py
src/models/[20231027-29_two layers added for mlp_head]ast_models.py
src/models/[the original]ast_models.py
#[/Hyosun] exclude no need scripts
venvssast/*
